<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyWithMe"
        tools:targetApi="31"
        tools:replace="android:icon,android:theme,android:allowBackup"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".JoinActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".InfoActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".LoginSuccessActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".FindActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".StudyRoomActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivityA1"
            android:exported="true">
        </activity>

        <activity
            android:name=".CafeDetailActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivity1"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivity2"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivity3"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivity4"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivityA"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivityB"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivityC"
            android:exported="true">
        </activity>

        <activity
            android:name=".ReservationActivityD"
            android:exported="true">
        </activity>
    </application>

</manifest>
